# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = briarywebscrape.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
url = https://floating-savannah-92475.herokuapp.com/
project = briarywebscrape

[mysql]
host=us-cdbr-iron-east-04.cleardb.net
database=heroku_2cc23cc55b91214
user=ba3b3f279ac8f6
password=4c1ed166