# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = briarywebscrape.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
url = https://floating-savannah-92475.herokuapp.com/
project = briarywebscrape

[mysql]
host=mysql://ba3b3f279ac8f6:4c1ed166@us-cdbr-iron-east-04.cleardb.net/heroku_2cc23cc55b91214?reconnect=true
database=heroku_2cc23cc55b91214
; user=root
; password=Tutti792!@#$